{% extends 'base.html' %}
{% block title %}
    Add Feedback
{% endblock %}

{% block content %}
<h1>Add Feedback</h1>
<div>
    <form action="/users/{{user.username}}/feedback/add" method="POST">
        {{ form.hidden_tag() }}
        {% for field in form if field.widget.input_type != 'hidden' %}
            {{field.label}}
            {{field}}
            {% for error in field.errors %}
                    <small class="form-text text-danger">
                        {{error}}
                    </small>
            {% endfor %}
        {% endfor %}
        <button class="btn btn-info">Add Feedback</button>
    </form>
</div>
{% endblock %}